/* .block{
    background-color: #f8f8f8;
    width: 100%;
    place-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 30px;
}

.block p:first-child{
    text-decoration: underline;
    text-decoration-color: fuchsia;
    font-size: large;
    cursor: default;
}

.block p:first-child:hover{
    color: rgba(0, 0, 0,0.7);
}

.block button{
    margin: 1rem 1rem;
    width: 150px;
    background-color: rgb(241, 57, 57);
    border: 1px solid rgb(241, 57, 57);
    color: #333;
}

.block button:hover{
    background-color: rgb(241, 82, 82);
    border: 1px solid rgb(241, 82, 82);
} */

/* .about{
    background-color: #f8f8f8;
    width: 100%;
}

.about .col-2{
    width: 1000px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.image{
    margin-right: 5px;
}

.about .container h3{
    font-size: 2rem;
}

.about .container p:first-of-type{
    margin: 2rem 0;
}

.about .container p:nth-child(3){
    font-size: 1.5rem;
    font-weight: 600;
}





@media screen and (max-width:940px) {
    .about .col-2{
        grid-template-columns: 1fr;
    }

    .about .col-2{
        width: 100%;
    }

    .about .col-2 img{
        padding: 0rem;
        width: 90vw;
    }

    .about .col-2 .col-2{
        padding: 0;
    }

    .about button{
        margin-bottom: 1rem;
    }
} */
