 .header {
    /* position: fixed; */
    height: 4.5rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2; /* other values overlaps the sidebar */
    transition: .3s ease-in;
    background-color: #fff5ea;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: inherit;
    background-color: #fff5ea;
}
/* .header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
} */

.header .nav-menu a {
    color: #000;
}

.hr{
    margin: 2px;
    color: rgba(184, 184, 184, 0.863);
}

.down {
    padding-top: 80px;
    color: rgba(15, 14, 14, 0.863);
    font-size: 12px;
    text-decoration: none;
    cursor: not-allowed;
    opacity: 0.7;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

}

.div:hover{
    opacity: 0.8;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    text-decoration: none;
    padding: 1rem;
    font-weight: 500;
    color: #000;
}

.nav-item .active {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondary-color);
}

.ham{
    display: none;
}

.header img {
    width: 200px;
    height: 4.5rem;
}

@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        /* background-color: rgba(0,0,0,.9); */
    }
    /* .header .navbar {
        max-width: 100%;
    } */

    .ham {
        display: block;
    }

    .header ul{
        text-decoration: none;
        
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 1.5rem 0;
    }
    .header img {
        width: 150px;
    }
}

